{% extends 'core/base.html' %}

{% block title %}contacto{% endblock%}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> Para cualquier asesoria comunicate con nosotros gracias.</p>
          <br>
          <p>*****MIS DATOS***** </p>
          <p>Nombres: Ingrid Carolina</p>
          <p>Apellidos: Loor Cedeño</p>
          <p>Cedula: 131637510-2</p>
          <p>Correo personal:<a href="mailto:ingrithzita1@gmail.com">ingrithzita1@gmail.com</a></p>
          <p>Correo institucioanl:<a href="mailto:iloor5102@utm.edu.ec">iloor5102@utm.edu.ec</a></p>
        </div>
      </div>
    </div>
{% endblock %}